@import url(base.css);

h1 {
  font-size: 200%;
  margin: 8px 0px;
  display: flex;
  justify-content: center;
}

/* Constrain the page to the viewport */
html, body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* Center the nav's header and list */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navigation buttons have full width */
nav button {
  width: 100%;
}

/* Remove unnecessary space and bullets from the lists */
ul {
  padding: 0px;
  margin: 16px;
  list-style-type: none;
}
nav > ul {
  display:flex ;
  flex-direction: column;
  row-gap:8px;
}
.item_1{ grid-area: header;}
.item_2{ grid-area: nav;}
.item_3{ grid-area: main;}
.item_4{ grid-area: footer;}
/* Task 2.1. Lay out the childs of the 'body' using Grid Template Areas. */
body{
  display: grid;
   grid-template-columns: 256px auto;
   grid-template-rows: 96px auto 96px;
grid-template-areas: 
'header header '
'nav main'
'footer footer'
;
}

/* Task 3.1. Make the header element a flex container and center its children
   vertically and horizontally.
 */


/* Task 3.2. Make the list items of the unordered list in the nav element a flex container, 
   use column direction and center the child items
 */

/* Task 3.3. Make the main element a Flexbox container */

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: scroll;

}
/* Task 3.4. Make the footer's ul a Flexbox container */
footer > ul{
  display: flex;
  column-gap: 24px;

}

/* From here on styling from exercise 1 */
img {
  border-radius: 12px;
}

article {
  background-color: lightgray;
  border-radius: 16px;
  padding: 16px;
  width: 384px;
  margin: 8px;
  overflow: auto;
}

a {
  color: beige;
}

span {
  margin-right: 4px;
}

.genre {
  padding: 4px 8px;
  border: solid black 1px;
  border-radius: 6px;
  background-color: darkgray;
  font-weight: bold;
}
